<h1>Post a message</h1>
<form method="POST" action="/new">
  <label for="user">
    User: <input type="text" name="user" id="user">
  </label>
  <label for="text">
    Message: <textarea name="text" id="text"></textarea>
  </label>
  <button type="submit">Send</button>
</form>