<h1>HELLO WORLD</h1>

<a href="/new">Add a message</a>

<% if (locals.messages) { %>
<% messages.forEach((message) => { %>
<li>
  <a href="/<%= message.id %>">Open</a> [<%= message.added %>]<%= message.username %>: <%= message.text %>
</li>
<% }) %>
<% } else { %>
<p>No messages yet</p>
<% } %>